* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header {
  height: 200px;
  margin-top: 30px;
}

.container {
  width: 100%;
  height: 140vh;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#text {
  color: rgb(46, 46, 46);
  text-align: center;
  font-size: 2rem;
  margin: 0 auto;
  opacity: 0;
  transition: all 1s ease;
  background: transparent;
  border: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.options_container {
  margin: 1rem;
  position: absolute;
  overflow: hidden;
  bottom: 80%;
  left: 80%;
}

select {
  color: azure;
  width: 7rem;
  padding: 0.7rem;
  cursor: pointer;
  background: #ff3c38;
}

.no-transition {
  transition: none !important;
}

.opponent-new-game {
  margin-bottom: 0.5rem;
}

.button {
  color: azure;
  background: #ff3c38;
  border-radius: 7px;
  padding: 15px 60px;
  text-align: center;
  font-size: 2rem;
  margin: 0 auto;
  transition: all 1s ease;
  border: none;
  cursor: pointer !important;
  font-size: 16px;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 1s ease, color 0.3s ease, background 0.3s ease;
  pointer-events: all;
}

.board {
  position: relative;
  display: flex;
  margin: 0 auto;
  height: 500px;
  width: 500px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease;
}


.start-btn {
  background-color: #ff3c38;
  border: none;
  position: relative;
  bottom: 10rem;
  border-radius: 5px;
  color: azure;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 1s ease, color 0.3s ease, background 0.3s ease;
}

.start-buttons {
  display: flex;
  justify-content: center;
}

.start-btn-div {
  margin: 10px;
}

@media (max-width: 547px) {
  .start-btn {
    padding: 15px 38px;
  }

  .board {
    height: 400px;
    width: 400px;
  }
}

@media (max-width: 768px) {
  .start-btn {
    padding: 17.5px 44px;
  }
}

.button:hover {
  transform: all 0.3s ease;
  background: azure;
  color: #ff3c38;
}

.button-appear {
  opacity: 0.9;
}

.button:focus {
  outline: 0;
}

.appear {
  opacity: 1 !important;
}

.start-btn:hover {
  background-color: azure;
  color: #ff3c38;
}

.start-btn:focus {
  outline: 0;
}

.disapear {
  opacity: 0 !important;
  pointer-events: none !important;
}

body {
  background-image: linear-gradient(40deg, #e36414, #c98bb9);
  background-size: cover;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  /* margin-bottom: 1rem; */
  /* padding-bottom: 7px; */
  /* position: relative; */
  font-size: 4rem;
  text-align: center;
  color: rgb(41, 41, 41);
}

.show-board {
  opacity: 1;
}

.space {
  pointer-events: all;
  cursor: pointer;
  border: rgba(24, 24, 24, 0.8) 3px solid;
  border-radius: 5px;
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3)
  );
  height: 100%;
  width: 95%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.space:hover {
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.4)
  );
}

.row {
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.x {
  font-size: 70px;
  font-family: "RocknRoll One", sans-serif;
  color: rgba(17, 17, 17, 0.9);
}

.x::selection {
  background: transparent;
}
.x::-moz-selection {
  background: transparent;
}

.button::selection {
  background: transparent;
}
.button::-moz-selection {
  background: transparent;
}

h1::selection {
  background: transparent;
}
h1::-moz-selection {
  background: transparent;
}

#text::selection {
  background: transparent;
}
#text::-moz-selection {
  background: transparent;
}
